<div id="LoginPageContent">

	<div id="LoginBox">
		<h1>Log in</h1>

		<%= form_tag sessions_path do %>  
		  <div class="field">  
			<%= label_tag :email %>  <br />
			<%= text_field_tag :email, params[:email] %>  
		  </div>  
		  <div class="field">  
			<%= label_tag :password %>  <br />
			<%= password_field_tag :password %>  
		  </div>  
		  <p><%= link_to "forgotten password?", new_password_reset_path %></p>
		  <div class="field">
			<%= label_tag :remember_me %>
			<%= check_box_tag :remember_me, 1, params[:remember_me] %>
		  </div>  
		  <div class="actions"><%= submit_tag "Log in" %></div>  
		<% end %>  

		<p>New user? <%= link_to "Sign up now!", signup_path %></p>
	</div>
	
	<div id="LoginInfoBox">
		<h1> Time Tracking in 5 seconds. </h1>
		<ul>
			<li> Forgetful? We remind you daily. </li>
			<li> Lazy? Just reply to the email. </li>
			<li> Busy? Reply whenever you have time. It just takes 5 seconds! </li>
		</ul>
		<br />
		
		<h3>
			How it works
		</h3>
		<ol>
			<li>
				At the end of the day, we'll send you an email.  When you finish your day's tasks, send a quick 
				reply in this format:
			</li>
		</ol>
		<h4 style="margin-left:50px;">
			@Project #hrs description
		</h4>
		<p style="margin-left:50px;">
			For example,
		</p>
		
		<p style="margin-left:50px;">
			@project1 #3 completed a bunch of sales calls <br />
			@project2 #4.5 implemented the enhanced security feature
		</p>
			
		<br />
		<h3>And that's it!</h3>
		<p style="margin-left:50px;">
			We'll process everything behind the scenes.  If you need to review your entries, 
			do it on this site.  You can add, modify, delete, and review all your entries and projects right here.
		</p>
		
		<br />
		<h3>Pro tips...</h3>
		<ul>
			<li>
				To send us feedback (we'll appreciate it!), just reply to any of our emails with "FEEDBACK" as the subject.
			</li>
			<br />
			<li>
				To create a new project, just use it in your email and we'll create it for you.  
				<div style="margin-left:20px;">
					<p>For example, the following will create a new project called "mynewproject" and
					assign it an entry for today of 1 hour with description "this is a new project".</p>
					<i>@mynewproject #1 this is a new project</i> 
				</div>
			</li>
			<br />
			<li>
				Reply with multiple entries by putting each entry on a new line.
			</li>
			<br />
		</ul>
		
	</div>
	
</div>