<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
	<p>Reply above this email with the following format:</p>
	<p>@project #hrs description</p>
	<br />
	<h3>Your Projects:</h3>
	<ul>
		<% @projects.each do |p| %>
			<li> @<%= p.name %> </li>
		<% end %>
	</ul>
	
	<% if @last_entry_date == "" %>
		<p>This will be your first entry. Woohoo! </p>
	<% else %>
		<h3> Last entry on <%= @last_entry_date.strftime('%a, %b %d') %> </h3>
		<ul>
		<% @latest_entries.each do |entry| %>
			<% if entry.project %>
				<li> @<%= entry.project.name %> #<%= entry.hours %> <%= entry.tasks %></li>
			<% else %>
				<li> {{No Project}} #<%= entry.hours %> <%= entry.tasks %></li>
			<% end %>

		<% end %>
		</ul>
	<% end %>
	
	<p>If you want to review your entries, go to <%= @url %><p>
	
  </body>
</html>