
<div id="EntryFilterOptions">
	<%= form_tag entries_path, :method => 'get' do %>
	  <p class="entry_filter_option from">
		From: <%= date_select(:from, '', :default => @myfrom) %>
	  </p><p class="entry_filter_option to">
		To: <%= date_select(:to, '', :default => @myto) %>
	  </p><p class="entry_filter_option submit">
		<%= submit_tag "Select", :name => nil %>
	  </p>
	<% end %>
</div>


<div id="EntryProjectContent">

	<div id="SideProjectBox">
		<p class="header_title"> Projects </p>
		<ul id="ProjectsList">
			<li class="a_project"> <%= link_to "All Projects", entries_path %> </li>
			<% @projects.each do |p| %>
			  <li class="a_project">
				<%= link_to p[0], entries_path(:project => p[1], :myfrom => @myfrom, :myto => @myto) %>
				<span>hrs: <%= p[2] %></span>
			  </li>
			<% end %>
		</ul>
	</div>

	
		
	<div id="EntriesBox">
		<p class="header_title"> Entries </p>
		<% @entries.each do |entry| %>
			<% if entry.cal_date != @current_read_date %>
				<p class="date_title"> <%= entry.cal_date.strftime('%a, %b %d') %> </p>
				<% @current_read_date = entry.cal_date %>
			<% end %>
			
			<div class="entry_row"> 
				<div class="entry_row_entry_info">
					<% if entry.project %>
						<p class="entry_item project"> <%= entry.project.name %> </p>
					<% else %>
						<p class="entry_item project"> {{No Project}} </p>
					<% end %>
					
					<p class="entry_item hours"><%= entry.hours %></p>
					
					<p class="entry_item tasks"><%= entry.tasks %></p>
				</div>
				
				<div class="entry_row_action_options">
					<p class="entry_item edit"><%= link_to 'Edit', edit_entry_path(entry) %></p>
					<p class="entry_item delete"><%= link_to 'Delete', entry, confirm: 'Are you sure?', method: :delete %></p>
				</div>
			</div>
		
		<% end %>
		
<!-- THIS IS THE ENTRIES TABLE -- REPLACING WITH DIV		
		<table class="entries">
		  <tr>
			<th>Project</th>
			<th>Hours</th>
			<th>Tasks</th>
			<th>Day</th>
			<th></th>
			<th></th>
		  </tr>

		<% @entries.each do |entry| %>
		  <tr>
			<% if entry.project %>
				<td class="entry_table project"><%= entry.project.name %></td>
			<% else %>
				<td class="entry_table project">{{No Project}}</td>
			<% end %>
			
			<td class="entry_table hours"><%= entry.hours %></td>
			<td class="entry_table tasks"><%= entry.tasks %></td>
			
			<% if entry.cal_date %>
				<td class="entry_table cal_date"><%= entry.cal_date.to_s %></td>
			<% else %>
				<td class="entry_table cal_date">{{No Date}}</td>
			<% end %>
			
			<td class="entry_table edit"><%= link_to 'Edit', edit_entry_path(entry) %></td>
			<td class="entry_table delete"><%= link_to 'Destroy', entry, confirm: 'Are you sure?', method: :delete %></td>
		  </tr>
		<% end %>
		</table>
-->

		<br />

		<div>
			<p>
				Total Hours: <%= @hrs_sum %>
			</p>
		</div>

		<%= link_to 'New Entry', new_entry_path %>
	</div>
</div>
